/* Fuente que se utilizará en el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fuentes definidas para h1, h2, p */
body {
    font-family: 'Lora', serif;
    /* font-size: 3em; */
    /* text-align: center; */
}
h1 {
    font-family: 'Sofia', cursive;
    font-size: 5em;
}
h2 {
    font-family: 'Lora', serif;
    font-size: 3em;
    text-align: center;
}
p{
    font-family: 'PT Serif', serif;
    margin-left: 2em;
    text-align: justify;
}

/* Colores */
.colorBlanco {
    color: white;
    text-decoration: none;
}
.bloqueCeleste {
    background-color: rgb(41, 216, 235);
}
.bloqueVerde {
    background-color: rgb(11, 255, 11);
}
.fondoCeleste {
    background-color: rgba(117, 211, 211, 0.849);
    border-radius: 10px;
}
.fondoAzul {
    background-color: rgb(0, 0, 212);
}
.fondoNegro {
    background-color: black;
}
.fondoVioleta {
    background-color: rgb(72, 72, 252);
    border-radius: 8px;
}
.fondoBlanco {
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 8px;
}

/* HEADER */
/* Hover de la barra de navegación */
.link:hover {
    border: solid 1px white;
    border-radius: 8px;
}
.espacioEntreObjetos {
    gap: 10px;
}

/* Logo */
.tamanioLogo {
    height: 10rem;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
}

/* Clase para imágenes de portada */
.imagenPortada {
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 0;
}

.portada {
    height: 100vh;
}

/* Superposición de logo y título con imagen portada */
.contenedor {
    height: 60rem;
    width: 76.5rem;
}

.flexible {
    display: flex;
}

/* Uso del z-index para superponer elementos en index.html */
.posicionZAltoRelative {
    position: relative;
    z-index: 10;
}

.posicionZAlto {
    position: absolute;
    z-index: 10;
}
.posicionZBajo {
    position: relative;
    z-index: 0;
}

.ajustarH1 {
    color: rgb(25, 61, 158);
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: aliceblue;
    text-align: end;
}

/* Formato responsivo para el header de index.html */
@media screen and (max-width: 767px) {
    header img {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    header h1 {
        position: relative;
        font-size: 3em;
        text-align: start;
    }
    header p {
        position: relative;
        font-size: 1em;
        text-align: start;
        padding: 0;
        margin: 0;
        text-align: justify;
    } 
    .posicionZAlto {
        position: relative;
        z-index: 10;
    }
    .responsiveSm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ajustarH1 {
        -webkit-text-stroke-width: 0.01rem;
    }
    .centrarImg-sm {
        width: 11.5rem;
        align-self: center;
    }
    .centrarTexto-sm {
        align-self: center;
        width: auto;
    }
    .ancho {
        width: auto;
    }
}

/* Header de nosotros.html */
.imgFondoNosotros {
    background: url(../assets/img/portada_nosotros.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media (max-width: 767px) {
    .imgFondoNosotros {
        height: 50vh;
    }
}

/* Header de servicios.html */
.imgFondoServicios {
    background: url(../assets/img/servicios_portada.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media (max-width: 767px) {
    .imgFondoServicios {
        height: 50vh;
    }
}

/* Header de galeria.html */
.imgFondoGaleria {
    background: url(../assets/img/galeria_portada.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media (max-width: 767px) {
    .imgFondoGaleria {
        height: 50vh;
    }
}

/* Footer */
footer {
    background-color: rgb(0, 0, 212);
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

footer ul {
    list-style: none;
    max-width: 60%;
    padding: 10%;
    margin: 1% 1% 5% 10%;
}

footer ul a {
    text-decoration: none;
    text-decoration-color: white;
}

footer ul li {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tamanioRedes {
    width: 10em;
}

.espaciadoChico {
    padding: 0.1em;
}
.espaciadoInferior {
    padding-bottom: 3rem;
}

.estiloNav {
    margin-left: 3em;
}

.estiloRedesSociales {
    margin-left: 3em;
}

.tamanioLogoRedes {
    max-height: 2em;
}

footer p {
    margin-left: 1em;
}

.interlineadoMedio {
    line-height: 0.5rem;
}

/* Contenido Genérico */
/* Alineamiento de contenido */
.alinearContenidoFila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 7rem;
    padding: 1rem;
}

.alinearContenidoColumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrarContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

/* Tamaño imágenes */
.tamanioImagenMediana {
    height: 20rem;
    object-fit: cover;
}

.tamanioImagenPequeña {
    height: 10rem;
    align-self: center;
    width: 11rem;
}

@media (max-width: 767px) {
    .tamanioImagenPequeña {
        width: 20rem;
        height: 15rem;
    }
    
}

.tamanioMapa {
    height: 15rem;
}

.imagenPantallaCompleta {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Formato responsivo imagenes */
@media (max-width: 767px) {
    .tamanioImagenMediana {
        width: 400px;
    }
    .tamanioMapa {
        width: 400px;
        height: 20rem;
    }

}

/* Estilos Mapa */
.alinearContenidoFilaEstrecho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 7rem;
}

/* Texto en general */
.textoContenido {
    text-align: justify;
}

.espaciadoSubtitulo {
    margin-bottom: 4em;
    margin-top: 4em;
}

.espaciadoTexto {
    margin-bottom: 1em;
    margin-top: 1em;
}

/* Estilo Botones */
main a{
    text-decoration: none;
    color: aliceblue;
}

.formaBoton {
    display: flex;
    width: fit-content;
    margin-top: 0.5em;
    background-color: rgb(36, 56, 186);
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.parrafoMargen {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 3rem;
    padding: 3rem;
}

@media (max-width: 767px) {
    .parrafoMargen {
        margin: 0;   
    } 
}

.parrafoMargenGrande {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 3rem;
}

.margenLateral {
    margin-inline: 0.5em;
}

