/* Barra de navegación */
.link:hover {
    border: solid 1px map-get($mapa-colores, color-blanco);
    border-radius: 8px;
}

/* H1 que comparte todos los header */
.ajustarH1 {
    color: map-get($mapa-colores, color-azul-oscuro);
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: map-get($mapa-colores, color-blanco-borde);
    text-align: end;
}

/* Header index.html */
.carousel {
    width: 100%;
    padding: 0;
    margin: 0;
    .carousel-item {
        height: 90vh;
        width: 100%;
        .imgAdaptada {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }        
    }
}


/* Formato responsivo para el header de index.html */
@media screen and (max-width: 767px) {
    header {
        .responsiveSm {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .carousel-item {
                height: auto;
                img {
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .centrarImg-sm {
            width: 11.5rem;
            align-self: center;
        }
        .centrarTexto-sm {
            align-self: center;
            width: auto;
            h1 {
                position: relative;
                font-size: 3em;
                text-align: start;
                .ajustarH1 {
                    -webkit-text-stroke-width: 0.01rem;
                }
            }
            p {
                position: relative;
                font-size: 1em;
                text-align: start;
                padding: 0;
                margin: 0;
                text-align: justify;
            } 
        }
        .ancho {
            width: auto;
        }
    }
    .posicionZAlto {
        position: relative;
        z-index: 10;
    }
    
    
}


